// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    p{
        font-size: 1.5rem;
    }

    .form-control {
        font-size: 1.25rem;
    }

}

.btn-submit {
    font-size: 1.25rem;
    background-color: #337ab7;
    color: #fff;

    &:hover {
        background-color: #286090;
        color: white;
    }
}

.row-margin-top {
    margin-top: 75px;
}

.finished-task {
    opacity: 0.5;

    p {
        text-decoration: line-through;
    }
}
